#shopping-cart {
    .row {
        .shopping-process {
            .progress-rate {
                .progress-rate-sm {
                    width: 100%;
                }

                .progress-rate-sm-2 {
                    width: 25%;
                    height: 5px;
                }
            }
        }
    }
}